<div class="card" routerLinkActive="text-white bg-primary" routerLink="./playlist-profile/{{playlist.id}}">
  <div class="card-body">
    <ng-container *ngIf="!isEdited">
      <h5  class="card-title" >{{playlist.name}}</h5>
      <button class="btn btn-warning btn-sm" (click)="startEdit()">Edit</button>
    </ng-container>
    <ng-container *ngIf="isEdited">
      <input class="form-control" value="{{playlist.name}}" [formControl]="name">
      <button class="btn btn-info btn-sm" (click)="edit()">Save</button>
    </ng-container>
    <button class="btn btn-danger btn-sm" (click)='delete()'>Delete</button>
  </div>
</div>