<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" routerLink="">Spotify</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="music/search" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music/playlist" routerLinkActive="active">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music/songs" routerLinkActive="active">Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf='!(userService.user$|async)' (click)="onLogin()">
            <span>Login</span>
          </a>
          <a class="nav-link" *ngIf='(userService.user$|async)' (click)="userService.logout()">
            <span>{{(userService.user$|async).name}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="userService.idleTime$ | async as time">
            idle time: <b>{{time}}s</b>
            <span *ngIf="time < 3" (click)="userService.refreshButtonClick$.next()">REFRESH</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row mt-3">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>