<form (ngSubmit)="onSubmit()" [formGroup]="songForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" formControlName="title">
    <small id="titlHelp" class="form-text text-muted">The cool song name</small>
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="nubmer" class="form-control" id="year" formControlName="year">
  </div>
  <label for="gender">Genders</label>
  <button (click)="addGender()">Add Gender</button>
  <div formArrayName="genders">
    <div *ngFor="let gender of genders.controls; let i=index">
      <div class="form-group">
        <input type="text" class="form-control" name="gender-{{i}}" [formControlName]="i">
      </div>
    </div>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="favorite" formControlName="favorite">
    <label class="form-check-label" for="favorite">Favorite</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button (click)="onCancel()" type="button" class="btn btn-secondary">Cancel</button>
</form>